* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    height: 100vh;
    /* background-image: url("Font1.gif"); */

    background-repeat: no-repeat;
    background-size: 120%;

    background-color: gray;
    color: #ffffff;
}


#contenaire
{
    width: 800px;
    text-align: center;
    margin: 10px auto 0 auto;
}

h1, .Chronos
{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px 30px 30px 30px;
}

.Tableau_Carte
{
    text-align: center;
    width: 800px;
    /* height: 640px; */
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    perspective: 1000px;
}

.Cart
{
    width: 160px;
    height: 160px;
    margin: 5px;
    border: solid 0px lightblue;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.Cart :active
{
    transform: scale(0.97);
    transition: transform .2s;
}

.Cart.flip
{
    transform: rotateY(180deg);
}

/*
.Recto, .Verso
{
    width: 100%;
    height: 100%;
    padding: 0px;

    border-radius: 30px;
    border: solid 2px #ffff00;

    position: absolute;
    backface-visibility: hidden;
}
*/

/*
.imgs
{
    width: 100%;
    height: 100%;
    padding: 0px;

    border-radius: 30px;
    border: solid 2px #ffff00;

    position: absolute;
    backface-visibility: hidden;
}
*/

.Recto
{
    transform: rotateY(180deg);
}


#test {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    transform-origin: 50% 50%;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}


.tailleBouton_Start
{
    width: 130px;
    height: 30px;
    background-color: cornflowerblue;
}

.tailleBouton_RaZ
{
    width: 150px;
    height: 30px;
    background-color: lightgreen;
}

